<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: header}"></div>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <aside th:replace="~{fragments/sidebar :: ul}"></aside>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div th:replace="~{fragments/top-navbar :: nav}"></div>

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 th:text="${recordId == null ? 'Add' : 'Update'} + ' Employee'"></h1>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <form id="employeeForm">
                            <input id="recordId" th:value="${recordId}" hidden="hidden" />
                            <div class="mb-3">
                                <label for="fullName" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="fullName" name="fullName" >
                            </div>
                            <div class="mb-3">
                                <label for="workEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="workEmail" name="workEmail" >
                            </div>
                            <div class="mb-3">
                                <label for="jobTitleOrDepartment" class="form-label">Job Title</label>
                                <input type="text" class="form-control" id="jobTitleOrDepartment" name="jobTitleOrDepartment" >
                            </div>
                            <div class="mb-3">
                                <label for="phoneNumber" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" >
                            </div>
                            <div class="mb-3">
                                <label for="companySize" class="form-label">Company Size</label>
                                <input type="text" class="form-control" id="companySize" name="companySize" >
                            </div>
                            <div class="mb-3">
                                <label for="companyName" class="form-label">Company Name</label>
                                <input type="text" class="form-control" id="companyName" name="companyName">
                            </div>
                            <div class="mb-3">
                                <label for="projectSelect" class="form-label">Projects</label>
                                <select class="form-control" id="projectSelect" name="projectSelect" multiple>
                                    <!-- Options will be populated dynamically via JavaScript -->
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/sweetalert2.all.min.js}"></script>
<!-- jQuery Validation Plugin -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.21.0/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script th:src="@{/ajax/employee.js}"></script>
</body>
</html>
