<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="~{fragments/header :: header}"></div>
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <aside th:replace="~{fragments/sidebar :: ul}"></aside>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div th:replace="~{fragments/top-navbar :: nav}"></div>

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 th:text="${recordId == null ? 'Add' : 'Update'} + ' Employee'"></h1>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <form id="employeeForm" >
                            <input id="recordId" th:value="${recordId}" hidden="hidden" />
                            <div class="mb-3">
                                <label for="fullName" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="fullName"  required>
                            </div>
                            <div class="mb-3">
                                <label for="workEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="workEmail"  required>
                            </div>
                            <div class="mb-3">
                                <label for="jobTitleOrDepartment" class="form-label">Job Title</label>
                                <input type="text" class="form-control" id="jobTitleOrDepartment"  required>
                            </div>
                            <div class="mb-3">
                                <label for="phoneNumber" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="phoneNumber" required>
                            </div>
                            <div class="mb-3">
                                <label for="companySize" class="form-label">Company Size</label>
                                <input type="text" class="form-control" id="companySize"  required>
                            </div>
                            <div class="mb-3">
                                <label for="prefill" class="form-label">Prefill</label>
                                <input type="text" class="form-control" id="prefill" >
                            </div>
                            <div class="mb-3">
                                <label for="stage" class="form-label">Stage</label>
                                <input type="text" class="form-control" id="stage" >
                            </div>
                            <div class="mb-3">
                                <label for="projects" class="form-label">Projects</label>
                                <input type="text" class="form-control" id="projects">
                            </div>
                            <button type="submit" class="btn btn-primary" >Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/sweetalert2.all.min.js}"></script>
<script th:src="@{/ajax/employee.js}"></script>
</body>
</html>